{% extends 'base.html' %}

{% block title %}0r1gamic{% endblock %}

{% block content %}
    {% if login == 1 %}
        <b>Your Repositories:<br></b>
        {% for repo in repos %}
            <a href="/{{ repo.name }}">{{ repo.name }}</a><br>
        {% endfor %}
    {% endif %}

            <center>
                <h1>Gitdjan</h1>
                Web Interface to own git server with django<br>
                Coded by 0r1gamic developerZ - <a href="http://ahmetkotan.com.tr">ahmetkotan.com.tr</a><br><br>
                Requirements, installation and more; <a href="https://github.com/ahmetkotan/Gitdjan">ahmetkotan@github.com/Gitdjan</a>
            </center>


{% endblock %}
