{% extends 'base.html' %}

{% block title %}{{ repoName }}{% endblock %}

{% block extraMenu %}<a href="settings/" class="extra-menu">Repository Settings</a>{% endblock %}

{% block content %}

    <div class="repository-name">{{ repoName }}</div>
    <div class="repository-desc">{{ repoDesc }}</div>

    <div class="object-list">
        {% for obj in tree %}
            <div class="object-tab"><a href="/{{ repoName }}/{{ obj.type }}/{{ obj.name }}">{{ obj.name }}{% if obj.type == 'tree' %}/{% endif %}</a></div>
        {% endfor %}
    </div>
{% endblock %}
